@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto";
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.wrap {
    width: 500px;
    text-align: center;
}
$height:46px;
.select {
    width: 100%;
    position: relative;    
    &.open {
        .select__dropdown {
            display: block;
        }
        .select__input {
            border-bottom:none;
        }
    }
    &__input{
        border:1px solid #ccc;
        height:$height;
        border-radius:5px;
        display: flex;
        align-items: center;
        padding:0px 1rem;
        cursor: pointer;
        justify-content: space-between;    
    }
    &__dropdown{
        position:absolute;
        border-radius:5px;
        border:1px solid #ccc;
        top:$height;
        left: 0;
        right: 0;
        max-height: 200px;
        overflow-y:auto;
        text-align: left;
        box-shadow: 2px 3px 5px rgb(0,0,0.03);
        display: none;
    }
    &__list {
        padding:0;
        margin:0;
        list-style: none;
    }
    .selected {
        background-color: beige;
    }
    &__item {
        padding:1rem;
        border-bottom: 1px solid #ccc;
        
        &:hover {
            cursor: pointer;
            background-color: #eee;
        }
    }
}